[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
pyinquirer = "*"
custom-inherit = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
