[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
pyinquirer = "*"
custom-inherit = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
beautifulsoup4 = "*"
python-frontmatter = "*"
yanom = {editable = true, path = "."}
toml = "*"
alive-progress = "*"

[dev-packages]
testfixtures = "*"
coverage = "*"
pyinstaller = "*"

[requires]
